.footer__copyright {
    color: #545454;
    max-width: 318px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
    .footer__copyright {
        max-width: 282px;
        font-size: 14px;
        line-height: 16.94px;
    }
}