.authorization__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  margin-top: 29px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Inter';
}