.footer {
    max-width: 312px;
    margin: 67px 762px 60px 200px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 1279px) {
    .footer {
        margin: 55px 200px 50px 350px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 50px 50px 45px 100px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        margin: 48px 19px 36px 19px;
    }
}