.profile__add-button {
    margin-left: 244px;
    background-image: url('../../../images/Addbutton.svg');
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    min-width: 150px;
    padding: 0;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1279px) {
    .profile__add-button {
        margin: 0 0 0 100px;
    }
}

@media screen and (max-width: 768px) {
    .profile__add-button {
        min-width: 282px;
        margin: 33px 19px 0 19px;
        background-image: url('../../../images/mobile+.svg');
    }
}